<!DOCTYPE html>

<html lang="en">
    <head>
        <title>You Are Typing</title>
        <link rel="stylesheet" href="../static/styles/3_typing.css">
        <link rel="icon" href="../static/images/typing.ico" sizes="any">
        <link rel="icon" href="../static/images/typing.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="texts">
            <p>This is the beginning of your conversation.</p>
            <div class="friend"><p>This is a text message sent by your friend.</p></div>
            <div class="sender">This is a longer text message send by you. This is meant to represent a much longer thing. This is something something else.</div>
            <p>Delivered</p>
        </div>
        <div id="tools">
            <input type="text" placeholder="Text message">
            <button>Send</button>
        </div>

    </body>
</html>