<!DOCTYPE html>

<html lang="en">
    <head>
        <title>You Are Typing</title>
        <link rel="stylesheet" href="../static/styles/3_typing.css">
        <link rel="icon" href="../static/images/typing.ico" sizes="any">
        <link rel="icon" href="../static/images/typing.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="texts">
            <p id="intro_text">This is the beginning of your conversation.</p>
            <div class="textdiv-friend">
                <div class="friend"><p>Hello, me!</p></div>
            </div>
            <div class="textdiv-sender">
                <div class="sender-container">
                    <div class="sender"><p>This is a longer text message send by you. This is meant to represent a much longer thing. This is something something else.</p></div>
                    <p class="delivered">Delivered</p>
                </div>

            </div>

        </div>
        <div id="tools">
            <input type="text" placeholder="Text message">
            <button>Send</button>
        </div>

    </body>
</html>