<!DOCTYPE html>

<html lang="en">
    <head>
        <title>You Are Typing</title>
        <link rel="stylesheet" href="../static/styles/3_typing.css">
        <link rel="icon" href="../static/images/typing.ico" sizes="any">
        <link rel="icon" href="../static/images/typing.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="texts">
            <p id="intro_text">This is the beginning of your conversation.</p>
        </div>
        <div id="tools">
            <input id="text-input" type="text" placeholder="Text message">
            <button id="mainButton">Send</button>
        </div>

        <script src="../static/js/3_typing.js"></script>

    </body>
</html>